<div class= "b">
    <h1>Edit Joke</h1>
    <div class="c">
       <%= form_with(model: @joke) do |f|%>
            <%=render partial: "form", locals:{form_builder: f, joke: @joke}%>
            <%=f.submit %>
        <%end%>
    </div>
</div>