<style>
.joke{
    background-color: rgba(255,255,255,1);
    border-style: solid;
}
.joke .sub{
    text-align: center;

}
</style>
<div class=joke>
<% if params[:comedian_id] %>
    <h2><%="#{@comedian.name}'s Jokes"%></h2>
<%else%>
  <div class=sub>  <h2>Jokes</h2> 
  </div>
 <%end%>
        <% @joke.each do |j|%>
                <%=j.joke%>
                <br>

            <%end%>
<br>
    <%= link_to "New Joke", new_joke_path %>
    </div>
