<div class=b>
    <h1>New Bit</h1>
    <div class=c>
        <%= if_errors(@bit)%>
        <%= form_with( url: new_comedian_stand_up_path(current_user), model: @bit, method: :post) do |f|%>
            <%= render partial: "form", locals:{form_builder: f, bit: @bit}%>
            <%=f.submit "Create Bit"%>
         <%end%>
     </div>
 </div>